@*
    View for assigning teachers to a course the controller is TeacherEnrollmentController
*@
@{
    ViewData["Title"] = "ManageTeachers";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<h1>Assign Teacher To Course</h1>