@* 
View to manage courses the controller is ManageCourseController    
*@

@{
    ViewData["Title"] = "ManageCourses";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<h1>Manage Courses</h1>