@{
    ViewData["Title"] = "Home Page";
    
}

<div class="jumbotron">
    <h1>Administrator Portal</h1>
    <p class="lead">Welcome to University administrator portal</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
           From this site you can:
            <ul>
                <li>Manage Student Information</li>
                <li>Enroll Students</li>
                <li>Enroll Students To Courses</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>
            From this site you can:
            <ul>
                <li>Manage Teacher Information</li>
                <li>Enroll Teachers</li>
                <li>Enroll Teachers To Courses</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
            From this site you can:
            <ul>
                <li>Manage Courses</li>
            </ul>
        </p>

    </div>
</div>
