@*
    View for Managing Students the controller is ManageStudentController
*@

@{
    ViewData["Title"] = "ManageStudents";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<h1>Manage Students</h1>